<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href ="styles.css">
</head>
<body id="hp">
    <h1>Welcome to Express Pizza</h1>

    <h2> Specialy Pizzas</h2>
    <ul>
        <li><a href="/specialty?name=Anchovy%20Lover's&price=15">Anchovy Lover's</a></li>
        <li><a href="/specialty?name=Paleo%20Pizza&price=15">Paleo Pizza</a></li>
        <li><a href="/specialty?name=Dessert%20Pizza&price=15">Dessert Pizza</a></li>
    </ul>

    <h2>Custom Pizza</h2>
    <p><a href="/custom">Build your own!</a></p>
    <h2><a>Leave a Review</a></h2>
    <p><a href="/review">Click here to leave a review</a></p>
</body>
</html>